<div class="pt-5" style="background-color: aqua; height:100vh;">
<section>
    <div class=" container mt-5  border border-dark d-flex justify-content-center d-flex align-items-center" style="background-color:#ffff;">

        <form action="/adminlogin" method="POST" enctype="multipart/form-data" class="my-5"style="width:30em;" >
          <div class="fs-1 text-center fw-bold mb-5">ADD USER</div>

                {{#if alredy}}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Sorry ! </strong>Alredy Have This Email Id ...
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        {{/if}}

  <div class="col-12 mb-4">
    {{!-- <label  class="form-label">Enter Your Name</label> --}}
    <input type="text" class="form-control" required name="name" placeholder="Enter Your Name" >
  </div>
  <div class="col-12 mb-4">
    {{!-- <label for="exampleInputEmail1" class="form-label">Email address</label> --}}
    <input type="email" class="form-control" required name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
  </div>
  <div class="col-12 mb-4">
    {{!-- <label for="exampleInputPassword1" class="form-label mt-3">Password</label> --}}
    <input type="password" class="form-control" required name="password" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="d-grid gap-2 col-4 mx-auto">
    <div class="mb-4">
        <button class="btn btn-primary" type="submit">Add User</button>
  <a href="/admin/back"><button type="button" class="btn btn-primary btn-block">Back</button></a>
    </div>

</div>
</form>
    </div>
</section>
</div>